[Desktop Entry]
Type=Application
Name=Packrat Backup
GenericName=Backup Tool
Comment=Keep your files safe with encrypted backups to local folders, OneDrive or Google Drive
Exec=packrat
Icon=io.github.setzor.PackratBackup
Terminal=false
Categories=Utility;FileTools;Archiving;
Keywords=backup;restic;rclone;onedrive;google;drive;plasma;kde;
SingleMainWindow=true
X-KDE-StartupNotify=true
DBusActivatable=false
StartupWMClass=packrat
